h1{
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
}

h2{
    color: lightpink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    
}

.instaladores{
    color: lightsalmon;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.bios{
    color: lightblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}