*{
    background: url(https://img.freepik.com/foto-gratis/muro-hormigon-gris_53876-88973.jpg?w=2000);
}



H1{
    font-family: 'Rubik Moonrocks', cursive;
    text-align: center;
    background-color: lightcoral;
    border-radius: 3 px 5px 5px 3px;
}

.iz{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    background-color: black;
    
    text-align: center;
    width: 450px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: 500px;
    left: 100px;
}
.de{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    background-color: aqua;
    text-align: center;
    width: 450px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: 500px;
    right: 100px;
}

.m{
    height: 270px;
    position: absolute;
    top: 200px;
    left: 170px;
}

.i{
    height: 200px;
    position: absolute;
    top: 230px;
    right: 125px;
}

.medio{
    height: 200px;
    position: absolute;
    top: 230px;
   center
    
}